.footer {
    background-color: #2C3333;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 2px solid #2C3333;
}

.text {
    color: #EEEEEE;
}

.link {
    color: #EEEEEE;
    text-decoration: none;
}
.link:hover {
    color: #E0DECA;
}